
{% extends 'app/sidebar.html' %}
{% load static %}
{% block body %}
<section class="home-section">
  <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Employee</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" >{{count}}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Company</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" >{{totalcompany}}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Number of Guard on duty</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" >{{totalposting}}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <!-- Start of nepali patro badge -->
                                    <script type="text/javascript"> <!--
                                    var nc_cb_width = 285;
                                    var nc_cb_height = 87;
                                    var nc_cb_shadow = 'true';
                                    var nc_cb_api_id = 49720210919870; //-->
                                    </script>
                                    <script type="text/javascript" src="https://www.ashesh.com.np/nepali-calendar/widget/cb.js"></script>
                                    <!-- End of nepali patro badge -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                   <iframe width="100%" height="400" frameborder="0" border="no" scrolling="no" marginwidth="0" marginheight="0" allowtransparency="true" src="https://www.ashesh.com.np/linknepali-unicode3.php?api=921295l384">
                                    </iframe><br><span style="color:gray; font-size:8px; text-align:left"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                  <!-- Start of upcoming event widget -->
                                        <script type="text/javascript"> <!--
                                        var nc_ev_width = "100%";
                                        var nc_ev_height = 410;
                                        var nc_ev_def_lan = 'np';
                                        var nc_ev_api_id = 53520210919763; //-->
                                        </script>
                                        <script type="text/javascript" src="https://www.ashesh.com.np/calendar-event/ev.js"></script>
                                        <!-- End of upcoming event widget -->
                                        
                                <style>
	.pie-chart {
		background:
			radial-gradient(
				circle closest-side,
				transparent 66%,
				white 0
			),
			conic-gradient(
				#4e79a7 0,
				#4e79a7 38%,
				#f28e2c 0,
				#f28e2c 61%,
				#e15759 0,
				#e15759 77%,
				#76b7b2 0,
				#76b7b2 87%,
				#59a14f 0,
				#59a14f 93%,
				#edc949 0,
				#edc949 100%
		);
		position: relative;
		width: 500px;
		min-height: 350px;
		margin: 0;
		outline: 1px solid #ccc;
	}
	.pie-chart h2 {
		position: absolute;
		margin: 1rem;
	}
	.pie-chart cite {
		position: absolute;
		bottom: 0;
		font-size: 80%;
		padding: 1rem;
		color: gray;
	}
	.pie-chart figcaption {
		position: absolute;
		bottom: 1em;
		right: 1em;
		font-size: smaller;
		text-align: right;
	}
	.pie-chart span:after {
		display: inline-block;
		content: "";
		width: 0.8em;
		height: 0.8em;
		margin-left: 0.4em;
		height: 0.8em;
		border-radius: 0.2em;
		background: currentColor;
	}
</style>

                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Guards Details
                            </div>
                            <div class="card text-white bg-success">
                            <div class="card-body" >
                                <table id="datatablesSimple" style="color:white">
                                    <thead >
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Date of Birth</th>
                                            <th>Phone number</th>
                                            <th>Start date</th>
                                            <th>Experince Years</th>
                                            <th>Age</th>
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Date of Birth</th>
                                            <th>Phone number</th>
                                            <th>Start date</th>
                                            <th>Experince Years</th>
                                            <th>Age</th>
                                            
                                        </tr>
                                    </tfoot>
                                     <tbody>
                                      {% for empl in employee %}
                                        
                                       <tr>
                                            <td>{{empl.firstname}} {{empl.middlename}} {{empl.lastname}}</a></td>
                                            <td>{{empl.assignpost}}</td>
                                            <td>{{empl.dateofbirth}}</td>
                                            <td>{{empl.pnumber}}</td>
                                            <td>{{empl.joindate}}</td>
                                            <td>{{empl.expyear}}</td>
                                            <td>{{empl.age}}</td>
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                      
                                </table>
                            </div>
                            </div>
                        </div>
                         <a href="{% url 'exportcsv_guard' %}" download="GFG">
                             <button type="button" class="btn btn-success">Download all records</button>
                            </a>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        </section>
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
          <script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Work', 8],
  ['Friends', 2],
  ['Eat', 2],
  ['TV', 2],
  ['Gym', 2],
  ['Sleep', 8]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'My Average Day', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script> 
{%endblock%}